/* #region common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --drop-check: #0061FF;
    --drop-button: #0F70FF;
    --drop-jumbo: #B4D0E7;
}
/* #endregion common*/
/* #region header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100000;
    background-color: white;
    width: 100%;
    padding-bottom: 1rem;
}
.start, .end{
    margin-top: 1rem;
}
.start a, .end a{
    margin: 1.2rem;
    vertical-align: top;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
header img{
    padding-left: 0.5rem;
}
 button{
    background-color: var(--drop-button);
    color: white;
    border: none;
    padding: 0.35rem 0.8rem;
    margin-right: 1rem;
}
/* #endregion header */
.bg{
    background-color: var(--drop-jumbo);
}
.container{
    width: 45%;
    margin: auto;
    padding-top: 5rem;
}
h1{
    font-size: 48px;
    margin-bottom: 2rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-start;
}
.col_5{
    width: calc((100% / 12)* 5);
}
.col_7{
    width: calc((100% / 12)* 7);
}

.col_7 img{
    width: 700px;
    position: absolute;
    bottom: -70px;
} 
.col_5 p, .annulla{
    padding: 1.8rem 0;
}
.freccia{
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
}